
@{
    ViewBag.Title = "Dashboard";
}

@if (Session["UserEmail"] != null)
{
    <h2>Welcome @Session["UserName"].ToString() To Dashboard</h2>
}
else
{
    Response.Redirect("Index");
}
<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function () {
        null;
    }
</script>
